{% extends '@MozzaCore/base.maintenance.html.twig' %}

{% block body %}
{% embed '@MozzaCore/Maintenance/embeddable/layout.header+content.html.twig' %}

    {% block header %}
        <h1>The database</h1>
        <h2>Setting things up</h2>
    {% endblock header %}

    {% block content %}
        <h1 class="content-subhead">Creating the database</h1>

        {{ form_start(form, { 'attr': { 'class': 'pure-form pure-form-aligned', 'autocomplete': 'off' }}) }}
            <p class="mt3 text-center"><button type="submit" class="button-xxlarge pure-button pure-button-primary">Continue <i class="fa fa-arrow-circle-right"></i></button></p>
        {{ form_end(form) }}

    {% endblock content %}

{% endembed %}
{% endblock %}