{% extends '@MozzaCore/Initialization/base.html.twig' %}

{% block body %}
{% embed '@MozzaCore/Initialization/embeddable/layout.header+content.html.twig' %}

    {% block header %}
        <h1>This is Mozza</h1>
        <h2>Welcome to a delicious way of blogging !</h2>
    {% endblock header %}

    {% block content %}
        <h1 class="content-subhead">You made the right choice</h1>
        <p>So, you decided to give a try to <strong>Mozza</strong>. Great ! We think you made the right choice (obviously !).</p>

        <h1 class="content-subhead">Setting things up</h1>
        <p>Before we begin, there are a couple of things we need to setup together. Don't worry, we will guide your through all the setup stuff, and you'll be up and running in a matter of seconds.</p>

        <p class="mt3 text-center"><a href="{{ path(nextroute) }}" class="button-xxlarge pure-button pure-button-primary">Let's start already ! <i class="fa fa-arrow-circle-right"></i> </a></p>
    {% endblock content %}

{% endembed %}
{% endblock %}