site:
    title: My Mozza blog                        # The name of your blog; required                
    description: "Stuff about everything"       # A short description of this blog; required
    theme: netgusto/mozza-theme-medium          # the package name of the theme; required
    locale: fr_FR.UTF-8                         # The server locale; required
    owner:
        name: Me                                # Your full name, or your company name; required
        twitter: GetMozza                       # Your twitter username; required
        mail: mozza@netgusto.com                # Your email; required
        website: http://netgusto.com            # Your website URL (not this blog); required
    about:
        slug: about                             # the slug of a post used for your About page; optional

date:
    timezone: Europe/Paris                      # Timezone, as per http://en.wikipedia.org/wiki/List_of_tz_database_time_zones; required
    format: "F jS, Y"                           # Date Format as explained here: http://php.net/date

components:
    
    disqus:
        shortname: mozzablog                    # the Disqus ID for your blog; optional

    googleanalytics:
        uacode: UA-XXXXXXXX-X                   # the Google analytic UA code; optional

#
# System parameters; do not touch unless YNWYD
#
debug: false
posts:
    extension: md
    dir: data/posts
    webresdir: res      # Relative to web/