<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pulpy</title>

<!-- Pure CSS -->
<link rel="stylesheet" href="{{ app.request.basepath }}/vendor/zipball/purecss/pure-min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="{{ app.request.basepath }}/vendor/font-awesome/font-awesome/css/font-awesome.min.css">

{% block stylesheets %}
{% endblock %}
    
<!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<![endif]-->
</head>
<body>
{% block body %}
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>