<!-- Footer defined in app/customhtml/footer.html.twig -->
<section class="customfooter">Made by
    {% if site.ownerwebsite is defined %}<a href="{{ site.ownerwebsite }}">{% endif %}
    {{ site.ownername }}
    {% if site.ownerwebsite is defined %}</a>{% endif %}

    {% if site.ownertwitter is defined %} | <a href="https://twitter.com/{{ site.ownertwitter }}">Follow us on twitter</a>{% endif %}

    {% if site.aboutslug is defined and site.aboutslug|length %}
        | <a href="{{ posturl(site.aboutslug) }}"> About this blog</a>
    {% endif %}
</section>